* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.moc {
    background: linear-gradient(to bottom right, white, lightgrey, gold, goldenrod, darkgrey, darkred);
    font-family: 'Liberation Sans', sans-serif;
    background-attachment: fixed;
}

#page-wrapper {
    position: relative;
}

#header {
    background: rgb(4, 4, 32);
    min-height: 75px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
}

@media (max-width: 600px) {
    #header {
        flex-wrap: wrap;
    }
}

.logo {
    width: 60vw;
}


@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
}

.logo > img {
    max-width: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}


@media (max-width: 650px) {
    .logo > img {
        margin: 0 auto;
    }
}

li {
    list-style: none;
}

a.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}


@media (max-width: 650px) {
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    nav li {
        padding-bottom: 5px;
    }
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 650px) {
    nav > ul {
        flex-direction: column;
    }
}

#get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 125px;
    text-align: center;
}

@media (max-width: 650px) {
    #get-started {
        margin-top: 200px;
    }
}

#get-started > h1 {
    margin-bottom: 20px;
    word-wrap: break-word;
    font-size: 2.5rem;
}

#get-started input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid slategray;
    background: rgba(255,255,255,0.6);
}

#get-started input[type="submit"] {
    max-width: 200px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 2px solid darkred;
    border-radius: 4px;
    background: linear-gradient(to bottom right, gold, goldenrod);
}

#get-started input[type="submit"]:hover {
    transition: opacity 1.1s;
    opacity: .75;
    background: linear-gradient(to bottom right, darkslategray, goldenrod, darkgoldenrod);
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

div.container {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
}

#container-content {
    height: 200px;
    margin-top: 25px;
    text-align: center;
}

.grid-container {
    display: flex;
    height: 75px;
    margin-top: 25px;
}

.grid {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

p {
    font-size: 1.5rem;
    text-align: center;
}

.grid i {
    font-size: 2rem;
}

#how-it-works {
    margin: 32px auto;
    display: flex;
    justify-content: center;
}

#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 32px auto;
}

.token {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100%  / 3);
  margin: 8px;
  border: 1px solid #000;
  border-radius: 3px;
  padding-bottom: 1rem;
}

.token > .level {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.token > h2 {
  margin-top: 15px;
}

.token > ol {
  margin: 15px 0;
}

.token > ol > li {
  padding: 5px 0;
}
