body {
    background: linear-gradient(164deg, white, grey);
}

#header {
    background: rgb(4, 4, 32);
    min-height: 75px;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo {
    width: 60vw;
}

.logo > img {
    max-width: 222px;
}

li {
    list-style: none;
}

a.nav-link {
    color: white;
    text-decoration: none;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}